APP_NAME=g2b
APP_ENV=development
DEBUG=true
DATABASE_URL=sqlite:///./g2b.db
BID_DATA_BACKEND=auto
G2B_API_SERVICE_KEY_ENCODED=your_encoded_service_key
G2B_API_SERVICE_KEY_DECODED=your_decoded_service_key
G2B_API_BID_PUBLIC_INFO_BASE_URL=https://apis.data.go.kr/1230000/ad/BidPublicInfoService
G2B_API_INDUSTRY_BASE_URL=https://apis.data.go.kr/1230000/ao/IndstrytyBaseLawrgltInfoService
G2B_API_CONTRACT_PROCESS_BASE_URL=https://apis.data.go.kr/1230000/ao/CntrctProcssIntgOpenService
